*{
    font-family: 'Quicksand', sans-serif;
}

.grossa{
    font-weight: 600;
}

.fina{
    font-weight: 00;
}

header{
    margin-top: 50px;
}

body{
    background: url("../img/01.jpg");
}

main{
    height: 100vh;
}

hr{
    color: white;
}

#menu{
    border-radius: 15px;
    opacity: 80%;
    width: 50%;
    margin: auto;
}

#drop{
    transition: 0.2s ease-in-out;
}

#drop:hover{
    font-size: 20px;
}

#projetos li {
        border-bottom: 1px solid rgb(103, 112, 237);
        cursor: pointer;
}

#card1{
    margin-top: 20px;
}

#foto{
    width: 250px;
    border-radius: 50%;
}

#download a{
    transition: 0.2s ease-in-out;
    color: white;
}

#download:hover{
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    
    
}

#download a:hover{
    color: rgba(6, 2, 19, 0.637);
    
}

